<section class="container text-center">
    <div>
        <label for="studentId">Student Id: </label>
        <input type="number" ng-model="edit_id" placeholder="Enter Student Id" disabled="disabled">
    </div>
    <div>
        <label for="studentName">Student Name: </label>
        <input type="text" ng-model="edit_name" placeholder="Enter Student Name">
    </div>
    <a name="update" id="update" class="btn btn-secondary" href="#/" role="button" ng-click="updateStudent()">Update</a>
</section>