<section>
    <!-- <div>{{message}}</div>
    <div>{{22/7 | number: '2.0-0'}}</div>
    <div>{{customer || 'chandan'}}</div>

    <input type="text" name="firstname" id="fnameinput" [value]="inputtext"> -->

    <!-- <st-student></st-student> -->
    <!-- <st-bluebox></st-bluebox> -->
    <!-- <st-twoway></st-twoway> -->
    <!-- <st-numberApi></st-numberApi> -->
    <!-- <st-questionBank></st-questionBank> -->
    <!-- <st-summary></st-summary> -->
    <st-studentApi></st-studentApi>
</section>