@using mvcBankApp.Models.HomeModel
@model HomeVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterLayout.cshtml";
}
<section>
    <h2>Home Index page....</h2>
    <h3>Welcome @Model.currentUser</h3>
</section>





