<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=DESKTOP-8DOQS7G\SQLEXPRESS;Initial Catalog=Hitech;User ID=sa;Password=pass@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>