<section class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Welcome</div>
        <div class="panel-body">
          <img class="img img-responsive center-block" src="assets/imgs/logo.jpg" alt="Image Not Found" height="250" width="400">
          <div class="text-center" style="margin-top:5em">
              <p>Developed By:</p>
              <p>maharanachandan8@gmail.com</p>
          </div>
        </div>
      </div>
</section>