<section class="text-center">
    <h1>Student Database App</h1>
    <section class="container text-left">
        <table class="table">
            <thead>
                <tr>
                    <th>Roll No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of Students">
                    <td>{{student.rollNo}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.date}}</td>
                    <td>
                        <a [routerLink]="['/Edit',student.rollNo]" class="label label-info">Edit</a>
                        <a class="label label-danger" (click)="deleteStudent(student.rollNo)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <button class="btn btn-primary" routerLink="/Add">Add Student</button>
    </section>
</section>